<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid | Panda UI</title>
    <link rel="stylesheet" href="../pandaUI.css" />
  </head>
  <body>
    <body>
      <div class="gridtwo-container">
        <div class="grid-child">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </div>
        <div class="grid-child">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </div>
        <div class="grid-child">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </div>
        <div class="grid-child">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </div>
        <div class="grid-child">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </div>
        <div class="grid-child">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </div>
      </div>

      <div class="gridthree-container">
        <div class="grid-child">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </div>
        <div class="grid-child">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </div>
        <div class="grid-child">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </div>
        <div class="grid-child">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </div>
        <div class="grid-child">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </div>
        <div class="grid-child">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </div>
      </div>
    </body>
  </body>
</html>
