@import url(./components/pandaUI.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.pd-container-home > * {
  padding: 0.625rem;
}

.pd-container-home {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-areas:
    "pd-header pd-header"
    "pd-main-home pd-main-home"
    "pd-footer pd-footer";
}

@media only screen and (max-width: 480px) {
  .pd-nav-container {
    display: flex;
    align-items: stretch;
  }
}

.pd-header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--pd-primary-color);
  grid-area: pd-header;
  margin-bottom: auto;
}

.pd-nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-heading {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  font-size: 1.3rem;
}
.nav-heading a {
  text-decoration: none;
  color: var(--pd-white-color);
}
.pd-logo {
  width: 13.75rem;
  border-radius: 0.313rem;
}

.pd-brand {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pd-nav-icons {
  display: flex;
  gap: 1rem;
}
.pd-nav-icons .link > i {
  font-size: 1.7rem;
  align-items: center;
  justify-items: center;
  color: var(--pd-white-color);
}

.pd-main-home {
  padding-top: 4rem;
  grid-area: pd-main-home;
}

.main-heading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

.main-subheading {
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
}

.main-button {
  text-align: center;
}
.pd-footer {
  background-color: var(--pd-primary-color);
  grid-area: pd-footer;
  margin-top: auto;
}

.pd-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-heading,
.pd-footer small {
  color: var(--pd-white-color);
  padding: 0.7rem 0;
}
.pd-footer-icons {
  display: flex;
  gap: 1rem;
}

.pd-footer-icons .link > i {
  padding-bottom: 0.5rem;
  font-size: 1.7rem;
  align-items: center;
  justify-items: center;
  color: var(--pd-white-color);
}
