<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card | Panda UI</title>
    <link rel="stylesheet" href="../pandaUI.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- <link rel="stylesheet" href="card.css" /> -->
  </head>
  <body>
    <!-- Card with Badge -->

    <div class="card card-badge">
      <div class="badge-on-card">Lorem Ipsum</div>
      <div class="card-image">
        <img src="/components/images/card.jpg" alt="" />
      </div>
      <div class="card-content">
        <h4 class="card-title">Lorem Ipsum</h4>
        <h5 class="card-subtitle">by Richard McClintock</h5>
        <p class="card-desc">
          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
          consectetur, adipisci velit...
        </p>
      </div>
      <div class="card-footer">
        <div class="card-btn">
          <button class="card-foot-btn">READ</button>
          <button class="card-foot-btn">BOOKMARK</button>
        </div>
        <div class="card-link">
          <span><i class="far fa-heart"></i></span>
          <span> <i class="fas fa-share-alt"></i></span>
          <span><i class="fas fa-ellipsis-v"></i></span>
        </div>
      </div>
    </div>

    <!-- Card With Dismiss -->

    <div class="card card-dismiss">
      <div class="dismiss-on-card"><i class="fas fa-times"></i></div>
      <div class="card-image">
        <img src="/components/images/card.jpg" alt="" />
      </div>
      <div class="card-content">
        <h4 class="card-title">Lorem Ipsum</h4>
        <h5 class="card-subtitle">by Richard McClintock</h5>
        <p class="card-desc">
          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
          consectetur, adipisci velit...
        </p>
      </div>
      <div class="card-footer">
        <div class="card-btn">
          <button class="card-foot-btn">READ</button>
          <button class="card-foot-btn">BOOKMARK</button>
        </div>
        <div class="card-link">
          <span><i class="far fa-heart"></i></span>
          <span> <i class="fas fa-share-alt"></i></span>
          <span><i class="fas fa-ellipsis-v"></i></span>
        </div>
      </div>
    </div>

    <!-- Card with Text Overlay -->

    <div class="card card-textover">
      <div class="card-image">
        <img src="/components/images/card.jpg" alt="" />
      </div>
      <div class="card-content">
        <h4 class="card-title">Lorem Ipsum</h4>
        <h5 class="card-subtitle">by Richard McClintock</h5>
        <p class="card-desc">
          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
          consectetur, adipisci velit...
        </p>
      </div>
      <div class="card-footer">
        <div class="card-btn">
          <button class="card-foot-btn">READ</button>
          <button class="card-foot-btn">BOOKMARK</button>
        </div>
        <div class="card-link">
          <span><i class="far fa-heart"></i></span>
          <span> <i class="fas fa-share-alt"></i></span>
          <span><i class="fas fa-ellipsis-v"></i></span>
        </div>
      </div>
    </div>

    <!-- Text Only Card -->

    <div class="card card-textonly">
      <div class="card-image">
        <img src="/components/images/card.jpg" alt="" />
      </div>
      <div class="card-content">
        <h4 class="card-title">Lorem Ipsum</h4>
        <h5 class="card-subtitle">by Richard McClintock</h5>
        <p class="card-desc">
          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
          consectetur, adipisci velit...
        </p>
      </div>
      <div class="card-footer">
        <div class="card-btn">
          <button class="card-foot-btn">READ</button>
          <button class="card-foot-btn">BOOKMARK</button>
        </div>
        <div class="card-link">
          <span><i class="far fa-heart"></i></span>
          <span> <i class="fas fa-share-alt"></i></span>
          <span><i class="fas fa-ellipsis-v"></i></span>
        </div>
      </div>
    </div>

    <!-- Horizontal Card-->

    <div class="card card-horizon">
      <div class="horizontal-image">
        <div class="card-image">
          <img src="/components/images/card.jpg" alt="" />
        </div>
        <div class="card-content">
          <h4 class="card-title">Lorem Ipsum</h4>
          <h5 class="card-subtitle">by Richard McClintock</h5>
          <p class="card-desc">
            Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit...
          </p>
        </div>
      </div>
      <div class="card-footer">
        <div class="card-btn">
          <button class="card-foot-btn">READ</button>
          <button class="card-foot-btn">BOOKMARK</button>
        </div>
        <div class="card-link">
          <span><i class="far fa-heart"></i></span>
          <span> <i class="fas fa-share-alt"></i></span>
          <span><i class="fas fa-ellipsis-v"></i></span>
        </div>
      </div>
    </div>

    <!-- Card With Shadow -->

    <div class="card card-shadow">
      <div class="card-image">
        <img src="/components/images/card.jpg" alt="" />
      </div>
      <div class="card-content">
        <h4 class="card-title">Lorem Ipsum</h4>
        <h5 class="card-subtitle">by Richard McClintock</h5>
        <p class="card-desc">
          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
          consectetur, adipisci velit...
        </p>
      </div>
      <div class="card-footer">
        <div class="card-btn">
          <button class="card-foot-btn">READ</button>
          <button class="card-foot-btn">BOOKMARK</button>
        </div>
        <div class="card-link">
          <span><i class="far fa-heart"></i></span>
          <span> <i class="fas fa-share-alt"></i></span>
          <span><i class="fas fa-ellipsis-v"></i></span>
        </div>
      </div>
    </div>

    <!-- Basic card -->
    <div class="card basic-card">
      <div class="card-image">
        <img src="/components/images/card.jpg" alt="" />
      </div>
      <div class="card-content">
        <h4 class="card-title">Lorem Ipsum</h4>
        <h5 class="card-subtitle">by Richard McClintock</h5>
        <p class="card-desc">
          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
          consectetur, adipisci velit...
        </p>
      </div>
      <div class="card-footer">
        <div class="card-btn">
          <button class="card-foot-btn">READ</button>
          <button class="card-foot-btn">BOOKMARK</button>
        </div>
        <div class="card-link">
          <span><i class="far fa-heart"></i></span>
          <span> <i class="fas fa-share-alt"></i></span>
          <span><i class="fas fa-ellipsis-v"></i></span>
        </div>
      </div>
    </div>
  </body>
</html>
