<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button | Panda UI</title>
    <link rel="stylesheet" href="../pandaUI.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Primary Buttons -->
    <div>
      <button class="btn">Default</button>
      <button class="btn btn-primary">Primary</button>
      <button class="btn btn-alternative">Altrnative</button>
      <button class="btn btn-success">Sucess</button>
      <button class="btn btn-error">Error</button>
    </div>

    <!-- Outlined Buttons -->
    <div>
      <button class="btn outline">Default</button>
      <button class="btn outline-primary">Primary</button>
      <button class="btn outline-success">Sucess</button>
      <button class="btn outline-error">Error</button>
    </div>

    <!-- Link Button -->
    <button class="btn btn-link">
      <a href="#">Link</a>
    </button>
    <button class="btn btn-link-text">
      <a href="#">Link</a>
    </button>

    <!-- Icon Button -->
    <div>
      <button class="btn icon"><i class="far fa-thumbs-up"></i>Like</button>
    </div>

    <!-- disabled Button-->
    <div>
      <button class="btn disable">Disable</button>
    </div>
    <!-- Floating Action Button -->
    <button class="fab">+</button>
  </body>
</html>
