<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar | Panda UI</title>
    <link rel="stylesheet" href="avatar.css" />
  </head>
  <body>
    <div>
      <div class="avatar avatar-xsm">
        <img src="/components/images/Panda.jpg" />
      </div>
      <div class="avatar avatar-sm">
        <img src="/components/images/Panda.jpg" />
      </div>
      <div class="avatar avatar-md">
        <img src="/components/images/Panda.jpg" />
      </div>
      <div class="avatar avatar-lg">
        <img src="/components/images/Panda.jpg" />
      </div>
    </div>

    <div>
      <div class="avatar avatar-xsm avt-text">XSM</div>
      <div class="avatar avatar-sm avt-text">SM</div>
      <div class="avatar avatar-md avt-text">MD</div>
      <div class="avatar avatar-lg avt-text">LG</div>
    </div>

    <div class="avatar-gp">
      <div class="avatar-hid">+5</div>
      <div class="avatar avatar-xsm">
        <img src="/components/images/Panda.jpg" />
      </div>
      <div class="avatar avatar-sm">
        <img src="/components/images/Panda.jpg" />
      </div>
      <div class="avatar avatar-md">
        <img src="/components/images/Panda.jpg" />
      </div>
      <div class="avatar avatar-lg">
        <img src="/components/images/Panda.jpg" />
      </div>
    </div>
  </body>
</html>
