<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toast | Panda UI</title>
    <link rel="stylesheet" href="../pandaUI.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
<!-- Success Toast-->

  <body>
    <div class="toast-container">
      <div class="toast toast-success">
        <div class="toast-icon">
          <i class="fas fa-check-circle"></i>
        </div>
        <div class="toast-text">
          <p>Success</p>
          <p>Your changes have been saved succesfully</p>
        </div>
        <button class="toast-btn">&times;</button>
      </div>
    </div>

    <!-- Error Toast-->
    <div class="toast-container">
      <div class="toast toast-error">
        <div class="toast-icon">
          <i class="fas fa-times-circle"></i>
        </div>
        <div class="toast-text">
          <p>Error</p>
          <p>
            Error has Occured while changes 
          </p>
        </div>
        <button class="toast-btn">&times;</button>
      </div>
    </div>

    <!-- Information Toast-->

  <div class="toast-container">
    <div class="toast toast-info">
        <div class="toast-icon">
          <i class="fas fa-info-circle"></i>
        </div>
        <div class="toast-text">
          <p>Info</p>
          <p>New settings are available in your account</p>
        </div>
        <button class="toast-btn">&times;</button>
      </div>
  </div>
<!-- Warning Toast-->
    <div class="toast-container">
        <div class="toast toast-warning">
            <div class="toast-icon">
              <i class="fas fa-exclamation-circle"></i>
            </div>
            <div class="toast-text">
              <p>Wanring</p>
              <p>You entered wrong user name</p>
            </div>
            <button class="toast-btn">&times;</button>
          </div>

    </div>
    </div>
  </body>
</html>
