.square-list {
  list-style-type: square;
}

.circle-list {
  list-style-type: circle;
}

.lower-alpha {
  list-style-type: lower-alpha;
}

.lower-roman {
  list-style-type: lower-roman;
}

.description-list-heading {
  font-weight: bold;
}
.stack-list {
  width: 20rem;
}

.stack-list-item {
  border-bottom: 1px solid gray;
  display: flex;
}

.stack-list-item:last-child {
  border-bottom: none;
}

.ulist-style-none {
  list-style-type: none;
}
