<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List | Panda UI</title>
    <link rel="stylesheet" href="../pandaUI.css" />
    <link rel="stylesheet" href="/components/list/list.css" />
  </head>
  <body>
    <!-- An Unordered HTML List -->

    <ul class="unorderd-list">
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
    </ul>
    <ul class="unorderd-list square-list">
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
    </ul>
    <ul class="unorderd-list circle-list">
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
    </ul>

    <!-- An Ordered HTML List -->

    <ol class="orderd-list">
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
    </ol>

    <ol class="orderd-list lower-alpha">
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
    </ol>
    <ol class="orderd-list lower-roman">
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
    </ol>

    <!-- Description -->

    <dl>
      <dt>Bread</dt>
      <dd>A baked food made of flour.</dd>
      <dd>A baked food made of flour.</dd>
      <dt>Coffee</dt>
      <dd>A drink made from roasted coffee beans.</dd>
      <dd>A drink made from roasted coffee beans.</dd>
    </dl>

    <!-- Stacked List -->

    <ul class="ulist-style-none stack-list">
      <li class="stack-list-item">
        <h5>20% Off</h5>
        <p>Order fast to avail the discount! 2 hours left!!</p>
      </li>
      <li class="stack-list-item">
        <h5>20% Off</h5>
        <p>Order fast to avail the discount! 2 hours left!!</p>
      </li>
      <li class="stack-list-item">
        <h5>20% Off</h5>
        <p>Order fast to avail the discount! 2 hours left!!</p>
      </li>
      <li class="stack-list-item">
        <h5>20% Off</h5>
        <p>Order fast to avail the discount! 2 hours left!!</p>
      </li>
    </ul>
  </body>
</html>
