<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation | Panda UI</title>
    <link rel="stylesheet" href="../pandaUI.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="ha-content">
      <header class="ha-header">
        <div class="ha-logo">
          <a href="#"
            ><img
              src="/document/images/logo_navigation.png"
              alt="logo_navigation"
          /></a>
        </div>

        <div class="search-and-icons">
          <div class="ha-search-box">
            <input
              class="ha-search-text"
              type="text"
              name="name"
              placeholder="search"
            />
            <a class="ha-search-button" href="#">
              <i class="fas fa-search"></i>
            </a>
          </div>
          <div class="header-icons">
            <div class="ha-nav-icons">
              <a href="#"> <button class="btn btn-default">Login</button></a>

              <div class="badge-icon">
                <div class="badge-on-icon">
                  <a href="#"><i class="fas fa-heart"></i></a>
                </div>
                <span class="badge-number">0</span>
              </div>

              <div class="badge-icon">
                <div class="badge-on-icon">
                  <a href="#">
                    <i class="fas fa-shopping-cart"></i>
                  </a>
                  <span class="badge-number">0</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>

    <div class="ha-content-forsmall">
      <header class="ha-header-forsmall">
        <div class="logo-and-icon-for-small">
          <div class="ha-logo">
            <a href="#"
              ><img
                src="/document/images/logo_navigation.png"
                alt="logo_navigation"
            /></a>
          </div>

          <div class="ha-nav-icons">
            <a href="#"> <button class="btn btn-default">Login</button></a>

            <div class="badge-icon">
              <div class="badge-on-icon">
                <a href="#"><i class="fas fa-heart"></i></a>
              </div>
              <span class="badge-number">0</span>
            </div>

            <div class="badge-icon">
              <div class="badge-on-icon">
                <a href="#">
                  <i class="fas fa-shopping-cart"></i>
                </a>
                <span class="badge-number">0</span>
              </div>
            </div>
          </div>
        </div>

        <div class="search">
          <div class="ha-search-box">
            <input
              class="ha-search-text"
              type="text"
              name="name"
              placeholder="search"
            />
            <a class="ha-search-button" href="#">
              <i class="fas fa-search"></i>
            </a>
          </div>
        </div>
      </header>
    </div>
  </body>
</html>
