<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badge | Panda UI</title>
    <link rel="stylesheet" href="../pandaUI.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="avatar avatar-xsm">
      <img
        class="badge-image"
        src="https://picsum.photos/200/300"
        alt="avatar"
      />
      <span class="status-badge status-badge-online"></span>
    </div>

    <div class="avatar avatar-sm">
      <img
        class="badge-image"
        src="https://picsum.photos/200/300"
        alt="avatar"
      />
      <span class="status-badge status-badge-away"></span>
    </div>

    <div class="avatar avatar-md">
      <img
        class="badge-image"
        src="https://picsum.photos/200/300"
        alt="avatar"
      />
      <span class="status-badge status-badge-offline"></span>
    </div>

    <div class="avatar avatar-lg">
      <img
        class="badge-image"
        src="https://picsum.photos/200/300"
        alt="avatar"
      />
      <span class="status-badge status-badge-busy"></span>
    </div>

    <div class="badge-icon">
      <div class="badge-on-icon">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <span class="badge-number">2</span>

      <div class="badge-icon">
        <div class="badge-on-icon">
          <i class="fas fa-envelope"></i>
        </div>
        <span class="badge-number">12</span>
      </div>
    </div>
  </body>
</html>
