@import url(../components/pandaUI.css);
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.pd-container > * {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  padding: 10px;
}

.pd-container {
  display: grid;
  grid-gap: 20px;
  height: 100vh;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    "pd-header pd-header"
    "pd-aside pd-main"
    "pd-aside pd-main"
    "pd-footer pd-footer";
}

.pd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--pd-primary-color);
  grid-area: pd-header;
  margin-bottom: auto;
}
.pd-aside {
  position: sticky;
  z-index: -1;
  grid-area: pd-aside;
  margin-top: 7rem;
  height: 50vh;
  overflow-y: scroll;
}
.pd-main {
  grid-area: pd-main;
  z-index: -1;
  /* background-color: gray; */
}

.pd-footer {
  background-color: var(--pd-primary-color);
  grid-area: pd-footer;
  margin-top: auto;
}

.pd-nav-container {
  display: flex;
}
.pd-nav-container div:last-child {
  margin-left: auto;
}
.pd-logo {
  width: 220px;
  border-radius: 5px;
}

.pd-nav-icons {
  font-size: 2rem;
  display: flex;
  gap: 1.5rem;
}

.pd-nav-icons .social-icon {
  color: white;
}
.pd-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  margin-top: 7rem;
}

.main-heading {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

.main-subheading {
  width: 50%;
  font-size: 1rem;
  padding: 1rem;
}

.pd-comp-headings {
  font-size: 2.5rem;
}
.pd-comp-para {
  font-size: 1.3rem;
  padding: 0.5rem 0;
}

.pd-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pd-footer-icons {
  display: flex;
  font-size: 2rem;
  display: flex;
  gap: 1.5rem;
}

.pds {
  padding: 0 1rem 0 1rem;
  width: 65%;
  border: 1px solid gray;
  box-shadow: 0 3px 10px var(--pd-primary-color);
}
.aside-link-item {
  padding-top: 2rem;
}
.aside-link-item a {
  text-decoration: none;
}

/* code snipet */

.pd-code-container {
  /* width: 80%; */
  /* justify-content: center;
  box-sizing: border-box; */

  max-height: 300px;
  /* padding: 1rem 0;
  margin: auto; */

  margin: 2rem 0;
  overflow: auto;
}
.pd-code-container {
  /* width: 100%; */
  /* border: none; */
}
