<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Utilities | Panda UI</title>
    <link rel="stylesheet" href="../pandaUI.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Text Headings -->
    <h1>H1-Heading1</h1>
    <h2>H2-Heading2</h2>
    <h3>H3-Heading3</h3>
    <h4>H4-Heading4</h4>
    <h5>H5-Heading5</h5>
    <h6>H6-Heading6</h6>

    <!-- Text Alignments -->
    <h3 class="text-left">H3-Heading Text Aligned Left</h3>
    <h3 class="text-center">H3-Heading Text Aligned Center</h3>
    <h3 class="text-right">H3-Heading Text Aligned Right</h3>

    <!-- Common Styles -->

    <p>
      <small class="text-small-size">This is small size text Example</small>
    </p>
    <p class="text-gray-color">This is gray text color Example</p>
    <p>
      This is
      <mark class="text-highlight">highlighted text</mark>
      Example
    </p>
    <p class="text-strike">This is no longer accurate text Example</p>
    <p class="text-bold-weight">This is bold text Example</p>
    <p class="text-primary-color">This is primary color text Example</p>
  </body>
</html>
