.alert-box {
  border-radius: 0.3rem;
  padding: 1rem 3rem 1rem 1rem;
  font-size: 1rem;
  margin: 1rem 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.alert-primary {
  background-color: var(--primary-color);
  color: white;
}

.alert-box .link-text,
.alert-box .btn {
  font-weight: 500;
}
.alert-secondary {
  background-color: var(--secondary-color);
  color: white;
}
.alert-information {
  background-color: var(--information-color);
  color: white;
}
.alert-success {
  background-color: var(--success-color);
  color: white;
}
.alert-error {
  color: white;
  background-color: var(--error-color);
}
.alert-warning {
  color: white;
  background-color: var(--warning-color);
}
